header {
 text-align:center; 
 
}


header nav a {
  
  
  
  display:inline-block;
  font-size:13px;
  

  line-height:30px;
  text-decoration:none;
  text-transform:uppercase;
  
}

header nav a:hover {
 color:black; 
 text-decoration:underline;
  
}

body {
  background-color: #f7f7f9;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  padding: 20px;
}

hr {
  
  width:220px;
  margin-top:0px;
}

#separator {
  width:800px;
  
}

h1 {
  
  margin-bottom:20px;
  color: #313437;
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #313437;
  font-family: 'adelle', Baskerville, Palatino, serif;
  font-size: 36px;
  font-weight: 100;
  padding:0px;
  margin-bottom:15px;
  line-height: 0;
}

h2 a {
  color:#313437;
  text-decoration:none;
  
}
h2 a:hover {
 text-decoration:underline; 
  
}

#date {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  color: #6a7179;
  line-height: 1.75;
  font-weight:100;
 
}

p {
  color: #6a7179;
  font-weight: 300;
  line-height: 1.75;
  margin-bottom: 25px;
  
}

#content p {
 text-align:center; 
}

#content article p {
 text-align: left;
}

#content{
 margin:auto;
  max-width:800px;
  padding:50px;
  width:75%;
  
}
